
.main{

}
.main_wrapper{
    width: 1000px;
    /* height: 2666px;  */
    margin: 0 auto; 
    background: url(../images/index/index_bg.jpg) no-repeat center top;   
}
.content{
    width: 1000px;
    margin: 0 auto;
}
.haohuo,.zhijiang{
    margin-top: -3px;
}
.djs{
    height: 50px;
}
.jx_item{
    width: 150px;
    height: 189px;
    /* box-sizing: content-box; */
    position: relative;
    margin-left: 10px;
    font-family: 'Microsoft YaHei','微软雅黑';
    margin-bottom: 20px;
    float: left;
    border: 1px solid #dfdfdf;
    display: inline-block;
}
.jx_item:hover{
    cursor: pointer;
}
.jx_item a{
    width: 100%;
    height: 100%;
    display: inline-block;   
}
.jx_item a img{
    width: 100%;
    height: 100%;
    display: block;
}
.jx_item a p{
    margin: 0px;
    font-size: 22px;
    position: absolute;
    bottom: 0px;
    text-align: center;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    color: #000;
    font-weight: normal;
    height: 40px;
    line-height: 40px;
}
.title_wrap{
    /* padding-left: 3px; */
    overflow: hidden;
    width: 1000px;
    /* margin:25px; */
}
.ul_title li{
    float: left;
    box-sizing: border-box;
    font-size: 16px;
    width: 33%;
    position: relative;
    border-color: #452da0;
    border-width: 1px;
    border-style: solid;
    margin-right: 3px;
    line-height: 40px;
    transition: all 0.2s;
    text-align: center;
}

.ul_title li div a{
    color: #452da0;
    font-size: 16px;
}

.ul_title li:hover{
    background: #ff40b1;
   }

.ul_title li:hover a{
    color:#fff; 
}
.list_box{
    width: 1000px;
}
.list_item{
    float: left;
    width: 226px;
    height: 460px;
    margin: 16px 16px 0 0;
    border: solid 1px #e0e0e0;
    overflow: hidden;
    cursor: pointer;
}

.list_item img{
    display: inline;
    /* width: 226px;
    height: 288px; */
}
.list_item_pic{
    height: 288px;
    overflow: hidden;
    position: relative;
}
.list_item_text{
    height: 116px;
    padding: 10px 15px 10px 15px;
    position: relative;
}
.weipinjia, .rmb, .pro_price, .icount, .pbox_market, .isize, .b_price, .pbox_off, .size, .count{
    color: 5a5d5a;
    font-size: 16px;
}
.pbox_price_show, .dicount_box, .list_item_size, .list_item_count{
    /* background: #ff40b1; */
    display: block;
    margin: 3px 0;
}
.goumai{
    font-size: 14px;
    color: #f10180;
    text-align: center;
    line-height: 28px;
    width: 100%;
    height: 28px;
    border: solid 1px #f10180;
    display: block;
    margin-top: 10px;
}