#header_box{
    height: 125px;
    background: #ffffff;
}
.header{
    margin:0 auto;
    width: 1250px;
    height: 100%;
}
.header .logo{
    float: left;
    width: 156px;
    height: 63px;
    margin-top: 30px;
    text-indent:-9999px;
    background:url(/Vipshop/app/static/images/rigister/zhuce_03.jpg)no-repeat;
}
.header .promise{
    float: right;
    width: 370px;
    height: 29px;
    margin-top: 50px;
    background:url(/Vipshop/app/static/images/rigister/zhuce_06.jpg)no-repeat;
}
#main_box{
    height:810px;
    background: #faa8ac;
}
.main{
    margin: 0 auto;
    width: 1250px;
    height: 100%;
    background:url(/Vipshop/app/static/images/rigister/banner_03.jpg)no-repeat;
}
.main .login{
    width: 450px;
    float:right;
    margin-top: 63px;
}
.login .login_title{
    background: #ffffff;
    width: 450px;
    height: 62px;
    border-bottom:1px solid #e0e0e0;
}
.login .login_title div{
    text-align: center;
    float: left;
    width: 224px;
    height: 62px; 
    font-size: 22px;
    font-weight: 900;
    line-height: 62px;
    cursor: pointer;
}
.login .login_title div:hover{
    color: #f10180;
}
.login_title .sweep {
    color: #f10180;
}
.login_title .account {
    color: #666666;
}

.login_title i{
    float: left;
    color: #e0e0e0;
    width: 2px;
    line-height: 62px;
    font-size: 22px;
}
/* 二维码登录页css开始 */
.login_sweep{
    display: block;
    height:392px;
    width:450px;
    background: #ffffff;
    position: relative;
}
.ercode{
    width:215px;
    height: 215px;
    border: 1px solid #e0e0e0;
    box-sizing: border-box;
    padding: 30px;
    position: absolute;
    top: 57px;
    left: 118px;
}
.ercode .code_img{
    display: block;
    width: 155px;
    height: 155px;
    background: url(/Vipshop/app/static/images/rigister/login_sweep_03.jpg)no-repeat;
}
.phone{
    display: none;
    opacity: 0;
    width: 150px;
    height: 240px;
    position: absolute;
    top: 45px;
    right: 37px;
}
.phone .phone_img{
    display: inline-block;
    width: 150px;
    height: 240px;
    background: url(/Vipshop/app/static/images/rigister/login_phone_03.jpg)no-repeat;
}
.login_sweep p{
    width: 450px;
    text-align: center;
    font-size: 14px;
    color: #000000;
    position: absolute;
    bottom: 64px;
}
.login_sweep p i{
    color: #f10180;
}
/* 二维码登录页css结束 */

/* 账户登录页css开始 */
.login_account{
    width: 450px;
    height: 413px;
    background: #ffffff;
    box-sizing: border-box;
    padding: 50px 37px 0 37px ;
    display: none;
}
.form_body .text{
    color: red;
    height: 33px;
    line-height: 33px;
    width: 374px;
}
.form_body .inputerror{
    border: 1px solid red;
}
.form_body .inputsuccess{
    border:1px solid green;
}
.form_body div{
    position: relative;
}
.form_body div .shop{
    position: absolute;
    top: 15px;
    left: 10px;
    font-size: 25px;
    color: #cccccc;
}
.form_body div:nth-of-type(3) label{
    font-size: 14px;
    color: #333333;
}
.form_body div:nth-of-type(3) input{
    margin-right: 14px;
}
.form_body div:nth-of-type(3) a{
    float: right;
    font-size: 14px;
    color: #333333;
}
.form_body div:nth-of-type(3) a:hover{
    color: #f10180;
}
.form_body input{
    width: 375px;
    height:57px;
    box-sizing: border-box;
    border: 1px solid #999999;
    font-size: 18px;
    border-radius: 3px;
    padding-left: 50px;
}
.form_body #checkbox{
    width: 16px;
    height: 16px;
    border: 1px solid #e0e0e0;
}
.form_body .text{
    color: red;
    height: 33px;
    line-height: 33px;
    width: 374px;
}
.form_body .login_btn{
    width: 374px;
    height: 57px;
    margin-top: 40px;
    background: #f10180;
    color: #ffffff;
    border: 0;  
    font-size: 24px;
    border-radius: 5px;
    cursor: pointer;
}
/* 账户登录页css结束 */

.login_foot{
    box-sizing: border-box;
    width: 450px;
    height: 88px;
    background: #ffffff;
    padding: 0 37px;
}
.login_foot .foot_main{
    position: relative;
    width: 375px;
    height: 88px;
    padding-top: 45px;
    border-top: 1px solid #e0e0e0;
}
.foot_main .wechat{
    display: block;
    position: absolute;
    top:-20px;
    left: 162px;
    width: 40px;
    height: 40px;
    background: url(/Vipshop/app/static/images/rigister/sprites-hash-701a8168.png) no-repeat;
    background-position:-300px -161px; 
}
.foot_main ul{
    width: 185px;
    height: 18px;
    float: left;
}
.foot_main ul li{
    overflow: hidden;
    float: left;
}
.foot_main ul li a{
    color: #333333;
    font-size: 16px;
}
.foot_main ul i{
    float: left;
    color: #e0e0e0;
    margin: 0 10px;
}
.foot_main span{
    float: left;
    margin-left: 40px;
    font-size: 16px;
    color: #999999;
    cursor: pointer;
}
.foot_main>a{
    float: right;
    font-size: 18px;
    color: #000000;
}
.foot_main a:hover{
    color: #f10180;
}
#footer_box{
    height: 104px;
    background: #ffffff;
}
.footer{
    font-size: 16px;
    margin: 0 auto;
    width: 1250px;
    color: #666666;
    line-height: 104px;
    text-align: center;
}