/* 商品路径信息 */
.pro_addr{
    width: 1000px;
    padding: 11px 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-top: -22px;
}
.detail{
    width: 1000px;
    margin: 0 auto;
}
/* 放大镜区域样式 */
.mignify_area{
    width: 420px;
    height: 596px;
    float: left;
}
.big{
    width: 420px;
    height: 420px;
    margin-bottom: 10px;
    position: relative;
    /* float: left; */
}
.big-item {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    cursor:crosshair;
}
.big-item .bigLess{
    width: 420px;
    height: 420px;
}
.big-item .bigLess img{
    width: 100%;
    height: 100%;
}
.big-item .screen{
    width: 100px;
    height: 100px;
    position: absolute;
    top: 0;
    left: 0;
}
.big-item .bigMore{
    width: 420px;
    height: 420px;
    position: absolute;
    top: 0;
    left: 0;
    background: lightblue;
    display: none;
    overflow: hidden;
}
.big-item .bigMore .bigMoreImg{
    position: absolute;
}
.small{
    width: 420px;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
}
.small-item{
    width: 64px;
    height: 64px;
    /* margin-right: 7px; */
    border: 1px solid #eee;
}
.small-item:hover{
    border:1px solid #f10180;
}
.small-item img{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
/* 放大镜右侧购买商品详情 */
.pro_buyinfo{
    width: 550px;
    height: 607px;
    /* background-color: #aaa; */
    float: right;
}
.pib-title-class{
    width: 340px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 12px;
    color: #777578;
    line-height: 22px;
    min-height: 22px;
}
.pib-title-info{
    font-size: 16px;
    color: #333;
    max-height: 40px;
    overflow: hidden;
    line-height: 20px;
    margin-top: 8px;
    margin-bottom: 8px;
    font-weight: 700;
}
.detail_price{
    background: url(../images/detail/detail_price_bg.png) no-repeat #faf5f8;
}
.pbox_price_show{
    height: 50px;
    line-height: 50px;
    color: #666;
    font-size: 16px;
}
.weipinjia{
    margin-left: 20px;
}
.dicount_box{
    margin-left: 20px;
    color: #999;
    font-size: 16px;
}
.pbox_off{
    margin-left: 10px;
}

