#header_box{
    height: 125px;
    background: #ffffff;
}
.header{
    margin:0 auto;
    width: 1250px;
    height: 100%;
}
.header .logo{
    float: left;
    width: 156px;
    height: 63px;
    margin-top: 30px;
    text-indent:-9999px;
    background:url(../images/rigister/zhuce_03.jpg)no-repeat;
}
.header .promise{
    float: right;
    width: 370px;
    height: 29px;
    margin-top: 50px;
    background:url(../images/rigister/zhuce_06.jpg)no-repeat;
}
#main_box{
    height:810px;
    background: #faa8ac;
}
.main{
    margin: 0 auto;
    width: 1250px;
    height: 100%;
    background:url(../images/rigister/banner_03.jpg)no-repeat;
}
.main .form{
    width: 450px;
    height: 694px;
    float: right;
    background:#ffffff;
    margin-top: 63px;
    border-radius: 5px;
}
.main .form .form_title{
    height: 62px;
    border-bottom:1px solid #e0e0e0;
}
.main .form .form_title b{
    float: left;
    font-size: 22px;
    font-weight: 900;
    color:#666;
    margin: 20px 0 0 38px;
}
.main .form .form_title i{
    float: right; 
    font-size: 18px;
    color:#000;
    margin: 23px 38px 0 0;
}
.main .form .form_title i a{
    font-size: 18px;
    color:#f10180;
}
.form_body{
    padding:38px 38px 0;
}
.form_body div{
    position: relative;
}


.form_body .text{
    color: red;
    height: 33px;
    line-height: 33px;
    width: 374px;
}
.form_body .inputerror{
    border: 1px solid red;
}
.form_body .inputsuccess{
    border:1px solid green;
}


.form_body .shop{
    position: absolute;
    top: 15px;
    left: 10px;
    font-size: 25px;
    color: #cccccc;
}
.form_body input{
    box-sizing: border-box;
    border:1px solid #b2b2b2;
    color: #000000;
    font-size: 18px;
    border-radius: 3px;
    /* margin-bottom:33px; */
    padding-left: 50px;
}
.form_body #phone{
    width: 374px;
    height: 57px;  
}
.form_body #code{
    width: 197px;
    height: 57px;  
}
.form_body .notgetcode{
    border: 0;
    width: 165px;
    height: 57px; 
    background:#d0d0d0;
    color: #9999a7;
    float: right;
    cursor: not-allowed; 
    font-size: 18px;
}
.form_body .getcode{
    border: 1px solid #fed3e8;
    width: 165px;
    height: 57px; 
    background:#fcedf2;
    color: #e00078;
    float: right;
    cursor: pointer; 
    font-size: 18px;
}
.form_body #password{
    width: 374px;
    height: 57px;  
}
.form_body #repassword{
    width: 374px;
    height: 57px;  
}
.form_body #submit{
    width: 374px;
    height: 57px;
    margin-top: 40px;
    background: #f10180;
    color: #ffffff;
    padding: 0;  
    cursor: pointer;
}
.form_body #checkbox{
    margin:0 8px 0 0;
    width: 19px;
    height: 16px;
}
.form_body label p{
    line-height: 24px;
    font-size: 14px;
    display: inline;
}
.form_body label p a{
    font-size: 14px;
    color: #1d94d1;
}
#footer_box{
    height: 104px;
    background: #ffffff;
}
.footer{
    font-size: 16px;
    margin: 0 auto;
    width: 1250px;
    color: #666666;
    line-height: 104px;
    text-align: center;
}