#header_box{
    height: 125px;
    background: #ffffff;
}
.header{
    margin:0 auto;
    width: 1250px;
    height: 100%;
}
.header .logo{
    float: left;
    width: 156px;
    height: 63px;
    margin-top: 30px;
    text-indent:-9999px;
    background:url(../images/rigister/zhuce_03.jpg)no-repeat;
}
.header .promise{
    float: right;
    width: 370px;
    height: 29px;
    margin-top: 50px;
    background:url(../images/rigister/zhuce_06.jpg)no-repeat;
}
#main_box{
    height:810px;
    background: #faa8ac;
}
.main{
    margin: 0 auto;
    width: 1250px;
    height: 100%;
    background:url(../images/rigister/banner_03.jpg)no-repeat;
}
.main .form{
    width: 450px;
    height: 694px;
    float: right;
    background:#ffffff;
    margin-top: 63px;
    border-radius: 5px;
}
.main .form .form_title{
    height: 62px;
    border-bottom:1px solid #e0e0e0;
}
.main .form .form_title b{
    float: left;
    font-size: 22px;
    font-weight: 900;
    color:#666;
    margin: 20px 0 0 38px;
}
.main .form .form_title i{
    float: right; 
    font-size: 18px;
    color:#000;
    margin: 23px 38px 0 0;
}
.main .form .form_title i a{
    font-size: 18px;
    color:#f10180;
}
.form_body{
    padding:38px 38px 0;
}
.form_body input{
    box-sizing: border-box;
    border:1px solid #b2b2b2;
    color: #b2b2b2;
    font-size: 18px;
    border-radius: 3px;
    margin-bottom: 33px;
}
.form_body>input:nth-of-type(1){
    width: 374px;
    height: 57px;  
}
.form_body input:nth-of-type(2){
    width: 197px;
    height: 57px;  
}
.form_body input:nth-of-type(3){
    width: 165px;
    height: 57px; 
    background:#d0d0d0;
    color: #9999a7;
    float: right;
}
.form_body input:nth-of-type(4){
    width: 374px;
    height: 57px;  
}
.form_body input:nth-of-type(5){
    width: 374px;
    height: 57px;  
}
.form_body input:nth-of-type(6){
    width: 374px;
    height: 57px;
    margin-top: 40px;
    background: #f10180;
    color: #ffffff;  
}
.form_body div input{
    margin:0 8px 0 0;
}
.form_body p{
    line-height: 24px;
    font-size: 14px;
    display: inline;
}
.form_body p a{
    font-size: 14px;
    color: #1d94d1;
}
#footer_box{
    height: 104px;
    background: #ffffff;
}
.footer{
    font-size: 16px;
    margin: 0 auto;
    width: 1250px;
    color: #666666;
    line-height: 104px;
    text-align: center;
}